<div class="contenedor" style=" display: flex; justify-content: center;">
    <mat-card>
        <mat-card-header>
            <br>
            <h2 style="text-align: center; color: rgb(24, 24, 24); font-family: sans-serif; ">Bienvenido a Design &
                Style</h2>
        </mat-card-header>
        <mat-card-content>
            <div style=" display: flex; justify-content: center;">
                <h4
                    style="text-align: left; width: 60%; color: rgb(77, 77, 77); font-family: sans-serif; font-weight: lighter;">
                    No sólo hacemos lo mejor para tu cabello, sino que
                    trabajamos con el mejor equipo y los mejores productos.
                    Nuestro equipo ha sumado toda su experiencia y conocimiento
                    para poder ofrecerte una atención de calidad.</h4>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <div style=" display: flex; justify-content: center;">
                <h4 style="text-align: center; width: 50%; color: rgb(48, 40, 51); font-family: sans-serif;">
                    El TRM del día de hoy en Colombia es de <strong
                        style="color: rgb(155, 36, 36); font-family: sans-serif; font-weight: bolder;">{{ valorTrm  | currency }} COP</strong>
                </h4>

            </div>
        </mat-card-actions>
    </mat-card>

</div>