<mat-toolbar>
    <mat-toolbar-row>
        <div class="row header-row">
            <nav>
                <a id="linkListarClientes" mat-raised-button color="primary" routerLink="./listar-clientes" routerLinkActive="active">Clientes</a>
                <a id="linkListarReservas" mat-raised-button color="primary" routerLink="./listar-reservas" routerLinkActive="active">Reservas</a>
                <a id="linkListarServicios" mat-raised-button color="primary" routerLink="./listar-servicios" routerLinkActive="active">Servicios</a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>