<mat-toolbar>
    <mat-toolbar-row>
        <div class="row header-row">
            <nav>
                <a id="linkCrearCliente" mat-raised-button color="primary" routerLink="./crear-cliente" routerLinkActive="active">Registrar Cliente</a>
                <a id="linkListarReserva" mat-raised-button color="primary" routerLink="./listar-reservas" routerLinkActive="active">Reservas del
                    Cliente</a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>